.container {
  border: 2.2px solid rgb(252, 252, 252);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(106, 91, 141, 0.1);
  width: 800px;
  margin: 20px auto;
}

h2 {
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.form-layout {
  display: flex;
  justify-content: space-between;
}

.input-fields, .file-upload {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: flex-start;
  width: 50%;
}

.search-field {
  width: 100%;
  max-width: 550px;
  height: 58px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.541);
  color: #ffffff;

  mat-form-field {
    width: 100%;
    background-color: inherit;
    border-radius: inherit;

    .mat-form-field-outline {
      border-color: #ffffff;
      border-radius: inherit;
    }

    .mat-form-field-flex {
      background-color: inherit;
      color: #ccc;

      .mat-icon-button {
        color: #aaa;
        margin-right: 8px;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}

search-field input::placeholder {
  color: white;
}

.search-field button {
  color: white; 
}

.search-field input:focus {
  border-color: white;
}

.search-field input {
  color: rgba(255, 255, 255, 0.801);
}

.label {
  color: #ffffff;
  margin-bottom: 5px;
  font-weight: 500;
}

.lista {
  color: rgba(255, 255, 255, 0.863);
}

.mat-form-field {
  margin-bottom: 10px;
  width: 100px
}

.file-upload button {
  width: 65%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preview-box {
  width: 180px;
  height: 120px;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  margin-top: 70px;
  margin-bottom: 6px;
}

.preview-img {
  width: 180px; 
  height: 120px; 
  object-fit: cover;
  margin-bottom: 10px;
  display: block; 
  margin-left: auto;
  margin-top: 80px;
  margin-right: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}
