.table-container {
    width: 65%;
    margin: 0 auto;
    position: relative;
  
    h2 {
      text-align: center;
      font-family: Roboto, sans-serif;
      font-weight: 500;
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 15px;
      color: rgb(255, 255, 255);
    }
  }
  
  // Tabla de Angular Material
  table {
    width: 750px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: transparent;
    border: 0.5px solid rgb(207, 207, 207); 
  
    th, td {
      padding: 8px;
      text-align: left;
    }
  
    th {
      background-color: #f4f4f4;
      font-weight: bold;
      font-size: 0.9rem;
      text-align: center; 
    }
  
    td {
      font-size: 0.9rem;
      color: #ffffff;
      text-align: center; 
      border-bottom: 1px solid #e0e0e0;
    }
  }
  
  .post-nota {
    text-align: center;
    margin-top: 30px;
    color: rgb(221, 9, 9);
    font-family: Roboto;
  }

  .search-container {
    display: flex;
    justify-content: center;
    margin: 2px 0;
    
      .search-field {
        width: 100%;
        max-width: 550px;
        height: 59px;
        margin-top: 20px;
        border: 1px solid white;
    
        mat-form-field {
          width: 100%;
          background-color: inherit;
          border-radius: inherit;
    
          .mat-form-field-outline {
            border-color: #ffffff;
            border-radius: inherit;
          }
    
          .mat-form-field-flex {
            background-color: inherit;
            color: #ccc;
    
            .mat-icon-button {
              color: #aaa;
              margin-right: 8px;
    
              &:hover {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
    
    .search-field input::placeholder {
      color: rgb(255, 255, 255);
    }
    
    .search-field button {
      color: white; 
    }
    
    .search-field input:focus {
      border-color: white;
    }
    
    .search-field input {
      color: rgb(253, 253, 253);
    }

// Gradiente y estilo de Snackbar para éxito
::ng-deep .success-snackbar {
  background: linear-gradient(90deg, #4caf50, #8bc34a, #9e9e9e);
  color: white;
  display: flex;
  gap: 8px;
  padding: 10px;
  border-radius: 8px;
  animation: slideIn 0.5s ease-out, fadeOut 0.5s ease-in 3s forwards;
}

// Gradiente y estilo de Snackbar para error
::ng-deep .error-snackbar {
  background: linear-gradient(90deg, #f44336, #e57373, #9e9e9e);
  color: white;
  gap: 8px;
  padding: 10px;
  border-radius: 8px;
  animation: slideIn 0.5s ease-out, fadeOut 0.5s ease-in 3s forwards;
}

// Gradiente y estilo de Snackbar para advertencia
::ng-deep .warning-snackbar {
  background: linear-gradient(90deg, #ff9800, #ffc107, #9e9e9e);
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  gap: 8px;
  padding: 10px;
  border-radius: 8px;
  animation: slideIn 0.5s ease-out, fadeOut 0.5s ease-in 3s forwards;
}

::ng-deep .mat-snack-bar-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  max-width: 350px;
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}