<!--Toolbar de inicio -->
<mat-toolbar  color="primary" *ngIf="verificar()" class="custom-toolbar">
    <span class="toolbar-title">{{ toolbarTitle }}</span>
    <span class="spacer"></span>

    <div class="user-info">
      <span class="username">{{ sub }}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
    
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        Rol: {{ role }}
      </button>
      <button mat-menu-item (click)="navigateToProfile()">
        <mat-icon>account_circle</mat-icon>
        Mi perfil
      </button>
      <button mat-menu-item routerLink="/login" (click)="cerrar()">
        <mat-icon>logout</mat-icon>
        Cerrar sesión
      </button>
    </mat-menu>
  
  </mat-toolbar>
  
  <router-outlet></router-outlet>