<div class="dialog-container">
  <div class="dialog-icon">
    <mat-icon color="warn">report_problem</mat-icon>
  </div>
  <h2 class="dialog-title">¿Está seguro de ejecutar esta acción?</h2>
  <mat-dialog-content class="dialog-content">
    Esta acción no se puede deshacer.
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-actions" align="end">
    <button mat-button class="cancel-button" (click)="onCancel()">Cancelar</button>
    <button mat-button color="warn" class="confirm-button" (click)="onConfirm()">Eliminar</button>
  </mat-dialog-actions>
</div>
