.chart-container {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
  }
  
  h3 {
    color: #ffffff;
    font-size: 17px;
    font-family: Roboto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
    