<div class="container">
    <h2>Mis Ofertas Favoritas</h2>
    <p class="total-count">Total de ofertas favoritas: {{ favoriteCount }}</p>
  
    <div class="card-container">
      <div class="card" *ngFor="let fav of enrichedFavoritas">
        <h3 class="card-title">Favorita N°: {{ fav.id }}</h3>
        <ul class="details">
          <li>
            <span class="icon material-icons">work</span>
            <strong>Oferta:</strong> &nbsp; {{ fav.ofertaNombre }}
          </li>
          <li>
            <span class="icon material-icons">person</span>
            <strong>Postulante:</strong> &nbsp; {{ fav.postulanteNombre }}
          </li>
        </ul>
        <div class="actions">
          <span class="icon material-icons favorite-icon filled">star</span>
          <button (click)="eliminarFavorita(fav.id)" class="delete-button">
            <span class="material-icons">delete</span>
          </button>
        </div>
      </div>
    </div>
</div>
  